@font-face {
	font-family: 'Open Sans';
	src: url('/local/components/wizart/form/templates/.default/font/OpenSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}

.wrapper {
  /*width: 100vw;*/
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.wrapper__form {
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 35px 105px;
  min-height: 85%;
}
.form__title {
  left: 344px;
  top: 221px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  margin-bottom: 45px;
}
.form {
  padding: 0px 23px;
  box-sizing: border-box;
}
.form__block {
  margin-bottom: 15px;
}
.block__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  padding-left: 4px;
  margin: 0px;
  margin-bottom: 8px;  
}
.ui-ctl-element_mod {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  width: 320px;
}
.ui-ctl-file-link_block {
  z-index: 1;
  display: flex;
  align-items: start;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0 11px;
  width: 320px;
  height: var(--ui-field-size);
  outline: 0;
  border: 1px solid #c6cdd3;
  border-radius: 2px;
  background-color: #fff;
  color: #535c69;
  transition: border .3s ease,background-color .3s ease,color .3s ease,padding .3s ease;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
}
.ui-ctl-file-link_block-view{
  min-height: 100px;
}
.ui-ctl-label-text_mod {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px !important;
  color: #000000 !important;
  border-bottom: none !important;
}
.crm-btn-save {
  margin-top: 2px;
  width: 320px;
  background: #4ED27B;
  border-radius: 3px;
  border: none;
  text-transform: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.ui-alert-div_mod{
  width: 320px;
  display: block;
  min-width: 320px;
  overflow: auto !important;
  font-family: 'Open Sans' !important;
  font-style: normal;
  font-weight: 400;
  height: 40px;
  padding: 2px 5px;
}
#name-error, #surname-error, #email-error, #birthday-error, #tel-error, #city-error, #file-error {
  display: none;
}
input::-moz-placeholder { 
  color: #000000; 
}
input::-webkit-input-placeholder {
  color: #000000; 
}

/*Модальное окно*/
.modal-view {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(103, 100, 100, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.modal-view-content {
  width: 396px;
  width: 396px;
  min-height: 299px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 18px;
  box-sizing: border-box;
}
.modal-view__image {
  width: 72px;
  height: 72px;
  background: url(/local/components/wizart/form/templates/.default/images/ok_symbol.svg) 0 0/cover no-repeat;
  margin: 0 0 40px 0;
}
.modal-view__image_bad{
  background: url(/local/components/wizart/form/templates/.default/images/bad_symbol.svg) 0 0/cover no-repeat;
}
.modal-view__title {
  margin: 0 0 14px 0;
  font-family: 'Arial';
  font-weight: 600;
  font-size: 26px;
}
.modal-view__text  {
  font-family: 'Arial';
  font-weight: 500;
  font-size: 14px;
  margin: 0;
  min-height: 80px;
  padding: 5px;
  box-sizing: inherit;
  text-align: center;
}

/* Кастомизация библиотеке tippy.js    */
.tippy-box[data-theme~='error'] {
  background-color: #fae5e8;
  color: #d0021b;
}
.tippy-box[data-theme~='error'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #fae5e8;
}
.error_message {
  color: red;
  text-align: center;
  margin-top: 20px;
}

/*  Стили для попапа при выгрузке данных грида в Excel  */
.popup__text {
  font-size: 18px;
  position: relative;
  margin: 18px auto;
}
.popup__text a, .popup__text p {
  margin: 18px;
  display: flex;
  justify-content: center;
}

/* лодер для попапа */
.loader {
  position: absolute;
  top: center;
  right: center;
  overflow:hidden;
  font-size: 10px;
  margin: 20px auto;
  text-indent: -9999em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: #65abf8;
  background: -moz-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: -webkit-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: -o-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: -ms-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: linear-gradient(to right, #65abf8 10%, rgba(101,171,248, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #65abf8;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*   Стили для попапа описания сделки */

#dealView {
  font-size: 16px;
  background-color: #eef2f4;
  padding: 0;
  border:2px solid #a2b4f3;
  border-radius: 20px;
}
#popup-window-content-dealView {
  border-radius: 20px;
}
.deal_view_assigned {
  margin-left: 40px;
  display: block;
  margin-top: 20px;
}
.deal_view_opportunity {
  margin-left: 40px;
  display: block;
  margin-top: 20px;
}
